[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
attrs = "==18.2.0"
backcall = "==0.1.0"
bleach = "==3.0.2"
chainer = "==5.1.0"
cliff = "==2.14.0"
cmd2 = "==0.9.7"
colorama = "==0.4.1"
colorlog = "==4.0.2"
cupy = "==5.1.0"
decorator = "==4.3.0"
defusedxml = "==0.5.0"
entrypoints = "==0.3"
enum34 = "==1.1.6"
fastrlock = "==0.4"
filelock = "==3.0.10"
ipykernel = "==5.1.0"
ipython = "==7.2.0"
ipywidgets = "==7.4.2"
jedi = "==0.13.2"
jsonschema = "==2.6.0"
jupyter = "==1.0.0"
jupyter-client = "==5.2.4"
jupyter-core = "==4.4.0"
jupyter-http-over-ws = "==0.0.2"
kiwisolver = "==1.0.1"
llvmlite = "==0.27.0"
matplotlib = "==3.0.2"
mistune = "==0.8.4"
nbconvert = "==5.4.0"
nbformat = "==4.4.0"
notebook = "==5.7.4"
numba = "==0.42.0"
numpy = "==1.15.4"
optuna = "==0.7.0"
pandas = "==0.23.4"
pandocfilters = "==1.4.2"
parso = "==0.3.1"
pbr = "==5.1.2"
pexpect = "==4.6.0"
pickleshare = "==0.7.5"
profilehooks = "==1.10.0"
protobuf = "==3.6.1"
ptyprocess = "==0.6.0"
pyparsing = "==2.3.1"
pyperclip = "==1.7.0"
python-dateutil = "==2.7.5"
pytz = "==2018.9"
pyzmq = "==17.1.2"
qtconsole = "==4.4.3"
scikit-learn = "==0.20.3"
scipy = "==1.2.0"
seaborn = "==0.9.0"
six = "==1.12.0"
sklearn = "==0.0"
stemming = "==1.0.1"
stevedore = "==1.30.0"
terminado = "==0.8.1"
testpath = "==0.4.2"
tornado = "==5.1.1"
traitlets = "==4.3.2"
typing = "==3.6.6"
wcwidth = "==0.1.7"
webencodings = "==0.5.1"
widgetsnbextension = "==3.4.2"
Cycler = "==0.10.0"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10"
jupyter_console = "==6.0.0"
MarkupSafe = "==1.1.0"
PrettyTable = "==0.7.2"
prometheus_client = "==0.5.0"
prompt_toolkit = "==2.0.7"
Pygments = "==2.3.1"
PyYAML = "==3.13"
Send2Trash = "==1.5.0"
SQLAlchemy = "==1.2.17"
tqdm = "*"

[requires]
python_version = "3.6.8"
